<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CodeInfoMapper">
	
	<resultMap id="CodeInfo" type="com.xxl.core.model.CodeInfo" >
		<result column="id" property="id" />
	    <result column="name" property="name" />
	    <result column="source" property="source" />
	    <result column="remark" property="remark" />
	    <result column="add_time" property="addTime" />
	    <result column="update_time" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.name,
		t.source,
		t.remark,
		t.add_time,
		t.update_time
	</sql>
	
	<select id="pageList" parameterType="java.util.HashMap" resultMap="CodeInfo">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_groovy_code_info AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="name != null and name!=''">
				AND t.name = #{name}
			</if>
		</trim>
		ORDER BY id DESC
		LIMIT #{offset}, #{pagesize}
	</select>
	
	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM xxl_groovy_code_info AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="name != null and name!=''">
				AND t.name = #{name}
			</if>
		</trim>
	</select>
	
	<delete id="delete" parameterType="java.lang.Integer" >
		delete from xxl_groovy_code_info
		where id = #{id}
	</delete>
	
	<insert id="save" parameterType="com.xxl.core.model.CodeInfo" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO xxl_groovy_code_info (
			id,
			name,
			source,
			remark,
			add_time,
			update_time
		) VALUES (
			#{id}, 
			#{name}, 
			#{source},
			#{remark},
			now(),
			now()
		);
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id"> 
			SELECT LAST_INSERT_ID() 
		</selectKey> 
	</insert>
	
	<update id="update" parameterType="com.xxl.core.model.CodeInfo">
		update xxl_groovy_code_info
		set source = #{source},
			remark = #{remark},
			update_time = now()
		where id = #{id}
	</update>
	
	<select id="load" parameterType="java.lang.Integer" resultMap="CodeInfo" >
		SELECT <include refid="Base_Column_List" />
		FROM xxl_groovy_code_info AS t
		where id = #{id}
	</select>
	
</mapper>